@import '../fonts.scss';

.footer {
    height: 84px;
    width: 100%;
    background-color: #FAFAFA;
    padding-left: 10%;
    padding-right: 10%;
    border: 0.75px solid #E4E4E4;

    &__links {
        &--container {
            position: relative;
            list-style-type: none;
            display: flex;
            padding-top: 38px;

            li {
                margin-right: 30px;
                font: 10px/13px 'Source Sans Pro';
                color: #808080;

                a {
                    font: 10px/13px 'Source Sans Pro';
                    color: #808080;
                }
            }

            li:nth-child(1) {
                margin-right: 40px;
            }

            li:nth-child(2)::after,
            li:nth-child(3)::after {
                content: "";
                position: absolute;
                width: 3px;  
                height: 3px;
                border-radius: 50%;
                top: 44px;
                margin-left: 10px;
                background-color: #808080;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
            }

        }
    }

    &__rightcom {
        padding-top: 34px;
        color: #6C6C6C;
        padding-right: 10px;
        float: right;
        font: 11px/25px 'Source Sans Pro';

    }
}
